###> HotelPlex ###
.idea/
.vscode/
*.sublime-workspace

.DS_Store
Thumbs.db

.env
vendor/
###< HotelPlex ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/.env.test.php
/.env.*.test
/.env.prod
/.env.prod.php
/.env.*.prod
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
